@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* COLORS */
:root {
  --strong-black: #000;
  --middle-black: #000000d7;
  --nav-red: #d41518;
  --white: #fff;
  --white-gray: #ffffff;
  --fade-gray: #80808039;
  --aqua-green: #2ea4a4;
  --red-btn: #d41518;
  --fade-btn: #d41518db;
}

.App,
.Nav-div {
  font-family: "Montserrat", sans-serif;
  z-index: 99999;
}

/* NAV */

.Nav-red-banner {
  font-size: 10px;
  justify-content: space-between;
  background-color: var(--nav-red);
  color: var(--white-gray);
  padding: 8px 48px;
}

.red-banner-left-info {
  gap: 20px;
}

.ul-usd-nav {
  list-style: none;
  gap: 10px;
}

.div-usd,
.div-lang {
  background-color: var(--white-gray);
  color: var(--strong-black);
  z-index: 997;
}

.ul-usd-nav li {
  cursor: pointer;
}

.ul-usd,
.ul-lang {
  list-style: none;
}

.ul-usd li,
.ul-lang li {
  cursor: pointer;
  border-bottom: 1px solid var(--fade-gray);
  padding: 9px;
  transition: 0.5s;
}

.ul-usd li:hover,
.ul-lang li:hover {
  background-color: var(--fade-gray);
}

.nav-main {
  justify-content: space-between;
  padding: 5px 28px;
  max-width: 1500px;
}

.ul-nav-1 {
  list-style: none;
  gap: 20px;
  cursor: pointer;
}

.ul-nav-1 a:hover {
  text-decoration: underline;
}

.ul-nav-2 {
  list-style: none;
  gap: 50px;
}

.ul-nav-1 li a {
  color: var(--white-gray);
  text-decoration: none;
}
.ul-nav-2 li div  {
  font-size: 13px;
  font-weight: 600;
  color: var(--strong-black);
  text-decoration: none;
}

.phone-logo {
  width: 15px;
}



.site-logo {
  width: 50px;
}
.siteName {

  font-weight: 800;
  font-size: 18px;
  color: var(--middle-black);
}

.nav-main-right {
  gap: 10px;
}

.magnifier-nav {
  cursor: pointer;
  width: 25px;
  height: 25px;
}

.cart-nav {
  cursor: pointer;
  width: 25px;
  height: 25px;
}

/* NAV DROPDOWN */

.drop-1 {
  top: 30px;
  left: 10px;
  width: 600px;
  padding: 10px;
  visibility: hidden;
}

.drop-2 {
  top: 30px;
  left: -90px;
  width: 600px;
  padding: 10px;
  visibility: hidden;
}

.drop-3 {
  top: 30px;
  left: -180px;
  width: 600px;
  padding: 10px;
  visibility: hidden;
}

.drop-4,
.drop-5 {
  top: 30px;
  left: -10px;
  width: 250px;
  padding: 10px;
  visibility: hidden;
}

.hover:hover {
  cursor: pointer;
  color: var(--aqua-green);
}

.hover:hover .dropdown-nav-1,
.hover:hover .dropdown-nav-2,
.hover:hover .dropdown-nav-3,
.hover:hover .dropdown-nav-4,
.hover:hover .dropdown-nav-5 {
  visibility: visible;
  color: var(--strong-black);
  top: 15px;
  transition: all 0.5s ease;
}

.ul-drop {
  list-style: none;
  padding: 30px 0;
  border: none;
}

.ul-drop h4 {
  padding-bottom: 5px;
}

.ul-drop li::before {
  content: "";
  display: inline-block;
  width: 0px;
  height: 1px;
  margin: 0 4px;
  vertical-align: middle;
  background-color: #000;
  transition: 0.3s ease-in-out;
}

.ul-drop li:hover:before {
  width: 4px;
}

.li-title{
  font-weight: 700;
  padding-bottom: 15px;

}

.dropdown-nav-1,
.dropdown-nav-2,
.dropdown-nav-3,
.dropdown-nav-4,
.dropdown-nav-5 {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  background-color: #fff;
  border-right: 1px solid rgba(128, 128, 128, 0.528);
}

.search {
  top: 0;
  left: 0;
  background-color: var(--white);
  width: 100%;
  height: 100%;
  justify-content: space-between;
  padding: 50px;
  z-index: 998;
}

.input-form {
  width: 800px;
  height: 35px;
  border: none;
}

.input-form:focus {
  outline: none;
}

.btn-close-form {
  border: none;
  cursor: pointer;
  background-color: var(--white);
  font-size: 35px;
}

/* MAIN */

.black-stripe {
  justify-content: space-between;
  background-color: var(--strong-black);
  color: var(--white);
  font-size: 12px;
  padding: 0 150px;
  height: 35px;
}

.black-stripe img {
  width: 20px;
  margin-right: 5px;
}

.hero-main {
  background-image: url("../Images/hero-main.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 70vh;
}

.hero-text {
  color: var(--strong-black);
  text-align: center;
  width: 100%;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hero-main p {
  color: var(--white);
  margin-bottom: 20px;
}

.hero-btn {
  border: none;
  cursor: pointer;
  background-color: var(--fade-btn);
  color: var(--white);
  padding: 8px 16px;
  /* margin-top: 20px; */
}

.hero-btn:hover {
  background-color: var(--nav-red);
}

