@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* COLORS */
:root {
  --strong-black: #000;
  --middle-black: #000000d7;
  --nav-red: #d41518;
  --white: #fff;
  --white-gray: #ffffff;
}

.App,
.Nav-div {
  font-family: "Montserrat", sans-serif;
}

/* NAV */

.Nav-red-banner {
  font-size: 10px;
  justify-content: space-between;
  background-color: var(--nav-red);
  color: var(--white-gray);
  padding: 8px 48px;
}

.red-banner-left-info {
  gap: 20px;
}

.Nav-main {
  justify-content: space-between;
  padding: 5px 28px;
}

.ul-nav-1 {
  list-style: none;
  gap: 20px;
}

.ul-nav-2 {
  list-style: none;
  gap: 50px;
}

.ul-nav-1 li a {
  color: var(--white-gray);
  text-decoration: none;
}
.ul-nav-2 li a {
  font-size: 13px;
  font-weight: 600;
  color: var(--strong-black);
  text-decoration: none;
}

.phone-logo {
  width: 15px;
}

.logo-name {
  position: relative;
}

.site-logo {
  width: 50px;
}
.siteName {
  position: absolute;
  left: 50px;
  font-weight: 800;
  font-size: 18px;
  color: var(--middle-black);
}

.nav-main-right {
  gap: 10px;
}

.magnifier-nav {
  width: 25px;
  height: 25px;
}

.cart-nav {
  width: 25px;
  height: 25px;
}

/* NAV DROPDOWN */

.a-hover-1 {
  position: relative;
}
.dropdown-nav-1 {
  position: absolute;
  justify-items: center;
  left: -20px;
  width: 600px;
  padding: 10px;
}

.dropdown-nav-2,
.dropdown-nav-3 {
  position: absolute;
  justify-items: center;
  left: 350px;
  width: 600px;
  padding: 10px;
}

.dropdown-nav-4 {
  position: absolute;
  justify-items: center;
  left: 660px;
  width: 600px;
  padding: 10px;
}

.dropdown-nav-5 {
  position: absolute;
  justify-items: center;
  left: 757px;
  width: 600px;
  padding: 10px;
}

.ul-drop-1,
.ul-drop-2,
.ul-drop-3,
.ul-drop-4 {
  list-style: none;
}
