:root {
  --strong-black: #000;
  --middle-black: #000000d7;
  --nav-red: #d41518;
  --white: #fff;
  --white-gray: #ffffff;
  --fade-gray: #80808039;
  --aqua-green: #2ea4a4;
  --red-btn: #d41518;
  --fade-btn: #d41518db;
  --border-gray: #8080805a;
}

.empty-cart-page {
  padding: 50px;
  text-align: center;
  font-size: 24px;
}

.products-container {
  margin-bottom: 100px;
}

.products-table {
  margin-bottom: 15px;
}

.main-container-cart {
  text-align: center;
  background-color: #8080800f;
  padding: 30px;
  margin-bottom: 50px;
  border-top: 1px solid var(--border-gray);
  border-bottom: 1px solid var(--border-gray);
}

.main-container-cart h2 {
  font-weight: 400;
  font-size: 25px;
}

.left-products {
  grid-column: 1 / span 2;
  border-top: 1px solid var(--border-gray);
  margin: 20px;
}

.righ-products {
  grid-column: 3;
}
.prod-table {
  text-align: center;
}

.table-head th {
  padding: 8px 50px;
  font-weight: 400;
}

.td-img img {
  width: 120px;
}

.td-img p {
  text-align: left;
  padding-left: 15px;
}

.added-prod {
  color: #8e8e8e;
}

.added-prod td {
  border-bottom: 1px solid var(--border-gray);
  margin-top: 20px;
}

.added-prod span {
  padding: 0 10px;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  background-color: var(--fade-gray);
}

.p-qty {
  display: inline;
  background-color: #fff;
  padding: 0 10px;
  font-size: 14px;
}

.table-x {
  border: none;
  background-color: gray;
  padding: 5px 10px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.table-x:hover {
  opacity: 0.8;
}

.shipping a,
.clear-cart {
  text-decoration: none;
  color: #5ab5b5;
  transition: 0.3s;
  cursor: pointer;
}

.shipping a:hover,
.clear-cart:hover {
  color: var(--middle-black);
}

.link-shipping {
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 30px 0;
}

.info-shipping {
  padding: 30px 0;
  margin-bottom: 30px;
  border-bottom: 1px solid var(--border-gray);
}

.shipping-form {
  text-align: center;
}

.shipping-form h4 {
  font-size: 22px;
  font-weight: 500;
  padding-bottom: 30px;
  text-align: left;
}

.shipping-btn {
  border: none;
  cursor: pointer;
  background-color: transparent;
  padding: 8px 16px;
  border: 1px solid var(--middle-black);
  transition: 0.3s ease-in-out;
}

.shipping-btn:hover {
  color: var(--white);
  background-color: var(--middle-black);
}

.shipping-inputs {
  padding-bottom: 30px;
  flex-wrap: wrap;
}

.input-container {
  flex-direction: column;
}

.input-container label {
  text-align: left;
  padding-bottom: 10px;
}

.shipping-inputs input {
  width: 300px;
  height: 30px;
  flex-wrap: wrap;
}

.input-container input {
  border: 1px solid var(--fade-gray);
  margin-right: 10px;
}
input:focus {
  outline: none;
}
/* RIGHT SIDE */

.text-area-container {
  border: 1px solid var(--border-gray);
  padding: 0 20px 20px 20px;
  margin: 0 20px 20px 20px;
}
.text-area-container label {
  padding: 10px;
}

.text-area {
  height: 200px;
  width: 100%;
  border-color: var(--border-gray);
}

.subtotal {
  border: 1px solid var(--border-gray);
  padding: 20px;
  margin: 20px;
}

.subtotal-text {
  justify-content: space-between;
  padding-bottom: 20px;
  align-items: flex-end;
}

.total {
  font-size: 24px;
}

.total span {
  font-size: 20px;
}

.taxes-text {
  color: gray;
  padding-bottom: 10px;
  font-style: italic;
}

.check-container {
  padding-bottom: 25px;
}

.checkbox-terms {
  margin-right: 5px;
}

.text-area-btn {
  display: block;
  margin: 0 auto;
  border: none;
  cursor: pointer;
  background-color: transparent;
  padding: 20px;
  background-color: gray;
  color: var(--white);
  width: 100%;
  font-size: 14px;
  transition: 0.3s ease-in-out;
}

.text-area-btn:hover {
  opacity: 0.8;
}

.subtotal a {
  text-decoration: none;
}

/* MEDIAS */

@media (min-width: 320px) and (max-width: 480px) {
  .main-container-cart {
    padding: 5px;
  }

  .main-container-cart h2 {
    font-size: 15px;
  }

  .empty-cart-page {
    font-size: 18px;
  }

  .products-container {
    flex-wrap: wrap;
  }

  .empty-cart-page {
    font-size: 15px;
  }

  .btn-qty-qty,
  .item-brand,
  .item-price,
  #table-qty,
  #table-price {
    display: none;
  }

  #table-product,
  #table-total {
    font-size: 12px;
  }

  .item-title,
  .item-total {
    font-size: 10px;
  }

  .text-area-container {
    margin: 0;
    padding: 0;
    width: 50%;
  }

  .link-shipping,
  .info-shipping {
    font-size: 12px;
  }

  .shipping {
    padding: 20px;
  }

  .shipping-form {
    font-size: 12px;
  }

  .text-area-container {
    width: 100%;
    text-align: center;
  }

  .text-area {
    width: 90%;
  }

  .payment {
    width: 100%;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .main-container-cart {
    padding: 5px;
  }

  .main-container-cart h2 {
    font-size: 15px;
  }

  .empty-cart-page {
    font-size: 18px;
  }

  .products-container {
    flex-wrap: wrap;
  }

  .empty-cart-page {
    font-size: 15px;
  }

  .item-brand,
  .item-price,
  #table-price {
    display: none;
  }

  #table-product,
  #table-total {
    font-size: 12px;
  }

  .item-title,
  .item-total {
    font-size: 10px;
  }

  .text-area-container {
    margin: 0;
    padding: 0;
    width: 50%;
  }

  .link-shipping,
  .info-shipping {
    font-size: 12px;
  }

  .shipping {
    padding: 20px;
  }

  .shipping-form {
    font-size: 12px;
  }

  .text-area-container {
    width: 100%;
    text-align: center;
  }

  .text-area {
    width: 90%;
  }

  .payment {
    width: 100%;
  }
}

@media (min-width: 769px) and (max-width: 990px) {
  .main-container-cart {
    padding: 5px;
  }

  .empty-cart-page {
    font-size: 18px;
  }

  .products-container {
    flex-wrap: wrap;
  }

  .empty-cart-page {
    font-size: 15px;
  }

  .item-title,
  .item-total {
    font-size: 10px;
  }

  .link-shipping,
  .info-shipping {
    font-size: 12px;
  }

  .shipping {
    padding: 20px;
  }

  .shipping-form {
    font-size: 12px;
  }

  .text-area-container {
    text-align: center;
    margin: 20px;
  }

  .text-area-btn {
    max-width: 600px;
  }

  .text-area {
    width: 90%;
  }
  .righ-products {
    width: 90%;
  }

  .payment-container {
    padding: 50px;
  }
}

@media (min-width: 991px) and (max-width: 1250px) {
  .products-container {
    align-items: flex-start;
  }

  .item-title,
  .item-total {
    font-size: 10px;
  }

  .link-shipping,
  .info-shipping {
    font-size: 12px;
  }

  .shipping {
    padding: 20px;
  }

  .shipping-form {
    font-size: 12px;
  }

  .text-area-container {
    width: 95%;
    text-align: center;
    font-size: 12px;
    margin: 5px;
    padding: 5px;
  }

  .text-area {
    width: 90%;
  }

  .subtotal {
    margin: 5px;
    padding: 5px;
    font-size: 12px;
  }

  .payment {
    width: 100%;
  }
}
