:root {
  --strong-black: #000;
  --middle-black: #000000d7;
  --nav-red: #d41518;
  --white: #fff;
  --white-gray: #ffffff;
  --fade-gray: #80808039;
  --aqua-green: #2ea4a4;
  --red-btn: #d41518;
  --fade-btn: #d41518db;
  --border-gray: #8080805a;
}

.order-placed-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.order-placed {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.order-placed h4 {
  font-size: 42px;
  font-weight: 400;
  margin-bottom: 50px;
}

.order-placed p {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 20px;
}

.placed-order-link {
  margin: 50px;
  text-align: center;
}

.order-placed a {
  cursor: pointer;
  text-decoration: none;
  font-size: 18px;
  transition: 0.3s;
}

.order-placed a:hover {
  text-decoration: underline;
}

.main-container-check {
  margin: 50px;
  column-gap: 50px;
}

.header {
  text-align: center;
  background-color: #8080800f;
  padding: 30px;
  margin-bottom: 50px;
  border-top: 1px solid var(--border-gray);
  border-bottom: 1px solid var(--border-gray);
}

.header h2 {
  font-weight: 400;
  font-size: 25px;
}

.inputs-1,
.inputs-2 {
  flex-direction: column;
  align-items: flex-start;
}

.left-col1,
.left-col2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.left-header,
.left-header a,
.right-header,
.right-header a {
  text-align: center;
  background-color: var(--strong-black);
  color: var(--white-gray);
  transition: 0.3s ease-in-out;
  padding: 10px;
}

.left-header a:hover,
.right-header a:hover {
  opacity: 0.8;
}

.form-container-cupoun {
  padding: 20px 20px 85px 20px;
  background-color: var(--fade-gray);
}

.form-login p {
  margin-bottom: 20px;
}

.form-text {
  padding: 20px;
  background-color: var(--fade-gray);
  font-size: 12px;
}

.inputs-2 a {
  text-decoration: none;
  color: var(--strong-black);
  margin-bottom: 10px;
}

.inputs-2 a:hover {
  text-decoration: underline;
}

.form-left {
  column-gap: 30px;
}
.email-input,
.password-input {
  width: 100%;
  height: 30px;
  margin-bottom: 15px;
}

.check-div label {
  margin-bottom: 15px;
}

.billing-container {
  padding: 20px;
}

.login-submit,
.coupoun-btn,
.place-order-btn {
  border: none;
  cursor: pointer;
  background-color: var(--strong-black);
  color: var(--white-gray);
  padding: 15px;
  transition: 0.3s ease-in-out;
  max-width: 150px;
}

.login-submit:hover,
.coupoun-btn:hover,
.place-order-btn:hover {
  opacity: 0.8;
}

.billing-container {
  border: 1px solid var(--border-gray);
}

.billing-container h4,
.order h4,
.payment h4 {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 10px;
}

.form-billing {
  column-gap: 30px;
}

.form-billing input {
  width: 100%;
  height: 30px;
  margin-bottom: 15px;
}

.form-billing label {
  margin-bottom: 5px;
}
.check-login {
  margin-right: 5px;
  margin-bottom: 15px;
}

.div-check input {
  width: 13px;
  height: 13px;
  margin: 3px;
}
.div-check label {
  font-weight: 600;
}

.order-notes {
  padding: 30px 0;
}

.order-notes textarea {
  width: 100%;
  height: 100px;
}

/* RIGHT */

.form-container-cupoun p {
  margin-bottom: 20px;
}

.form-coupon {
  flex-direction: column;
  gap: 10px;
}

.coupoun-btn label {
  margin-bottom: 20px;
}

.input-coupon {
  height: 35px;
}

/* TABLE */

.order {
  border: 1px solid var(--border-gray);
  padding: 20px;
  margin-bottom: 30px;
}

.table-head-coupon th {
  font-size: 14px;
  padding: 10px 20px;
  font-weight: 400;
  border: 1px solid var(--border-gray);
  font-weight: 500;
}

.table-body td {
  font-size: 14px;
  border: 1px solid var(--border-gray);
  background-color: #8080800a;
}
.prod-table {
  margin: 0 auto;
  border-collapse: collapse;
}

.prod-table th {
  padding: 8px 30px;
}

.table-body td:first-child {
  text-align: left;
  padding: 5px;
}

.total-container {
  padding: 10px 0;
  font-weight: 500;
}

/* PAYMENT */

.payment {
  border: 1px solid var(--border-gray);
}

.payment h4 {
  padding: 20px;
}

.payments-methonds {
  width: 100%;
}

.cc-left-div,
.cc-right-div {
  flex-direction: column;
  align-items: flex-start;
}

.cc-form {
  column-gap: 30px;
  padding: 20px;
  border: 1px solid var(--border-gray);
  margin: 20px;
  align-items: start;
}

.cc-form input {
  width: 100%;
  height: 30px;
}

.cc-form label {
  padding: 10px 0;
}

.place-order-btn {
  margin: 20px;
}

.cc-number,
.cc-ccv {
  text-align: center;
}

/* MEDIAS */

@media (min-width: 320px) and (max-width: 480px) {
  .header h2 {
    font-size: 15px;
  }

  .form-login,
  .form-container-cupoun {
    font-size: 10px;
  }
  .main-container-check {
    grid-template-columns: 1fr;
    row-gap: 50px;
    margin: 5px;
    padding: 5px;
  }

  .left-header,
  .right-header {
    padding: 20px;
    font-size: 8px;
  }

  .coupoun-btn,
  .login-submit,
  .form-text,
  .billing-container h4,
  .order h4,
  .payment h4 {
    font-size: 10px;
  }

  .form-billing,
  .form-left,
  .prod-table {
    grid-template-columns: 1fr;
  }

  .left-col1 label,
  .left-col2 label,
  .cc-left-div label,
  .cc-right-div {
    font-size: 12px;
  }

  .cc-form {
    grid-template-columns: 1fr;
    margin: 0;
  }

  .table-head-coupon th,
  .table-body td {
    font-size: 10px;
    padding: 5px 5px;
  }

  .order {
    padding: 0 5px;
  }

  .order-placed-overlay {
    margin-top: 95px;
  }

  .order-placed {
    width: 100%;
  }

  .order-placed h4 {
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: 500;
    text-align: center;
  }

  .order-placed p {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
    text-align: center;
  }

  .order-placed a {
    font-size: 14px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .header h2 {
    font-size: 20px;
  }

  .form-login,
  .form-container-cupoun {
    font-size: 10px;
  }
  .main-container-check {
    grid-template-columns: 1fr;
    row-gap: 50px;
    margin: 5px;
    padding: 5px;
  }

  .left-header,
  .right-header {
    padding: 20px;
    font-size: 12px;
  }

  .coupoun-btn,
  .login-submit,
  .form-text,
  .billing-container h4,
  .order h4,
  .payment h4 {
    font-size: 10px;
  }

  .form-billing,
  .form-left,
  .prod-table {
    grid-template-columns: 1fr;
  }

  .left-col1 label,
  .left-col2 label,
  .cc-left-div label,
  .cc-right-div {
    font-size: 12px;
  }

  .cc-form {
    grid-template-columns: 1fr;
    margin: 0;
  }

  .table-head-coupon th,
  .table-body td {
    font-size: 10px;
    padding: 5px 5px;
  }

  .order-placed-overlay {
    margin-top: 95px;
  }

  .order-placed {
    width: 100%;
  }

  .order-placed h4 {
    font-size: 26px;
    margin-bottom: 15px;
    font-weight: 500;
    text-align: center;
  }

  .order-placed p {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 5px;
    text-align: center;
  }

  .order-placed a {
    font-size: 14px;
  }
}

@media (min-width: 769px) and (max-width: 990px) {
  .main-container-check {
    grid-template-columns: 1fr;
    row-gap: 50px;
    margin: 5px;
    padding: 5px;
  }

  .left-header,
  .right-header {
    padding: 20px;
  }

  .order-placed-overlay {
    margin-top: 95px;
  }

  .order-placed {
    width: 100%;
  }

  .order-placed h4 {
    font-size: 32px;

    text-align: center;
  }

  .order-placed p {
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 10px;
    text-align: center;
  }

  .order-placed a {
    font-size: 16px;
  }
}

@media (min-width: 991px) and (max-width: 1250px) {
  .main-container-check {
    row-gap: 30px;
    margin: 5px;
    padding: 5px;
  }

  .left-header,
  .right-header {
    padding: 20px;
    font-size: 14px;
  }

  .order-placed-overlay {
    margin-top: 80px;
  }

  .order-placed {
    width: 100%;
  }

  .order-placed h4 {
    font-size: 38px;

    text-align: center;
  }

  .order-placed p {
    font-size: 26px;
    font-weight: 400;
    margin-bottom: 10px;
    text-align: center;
  }

  .order-placed a {
    font-size: 18px;
  }
}

@media (min-width: 1335px) {
  .prod-table th {
    padding: 8px 50px;
  }
  .order-placed-overlay {
    margin-top: 80px;
  }

  .order-placed {
    width: 100%;
  }

  .order-placed h4,
  .order-placed p {
    text-align: center;
  }
}
