:root {
  --strong-black: #000;
  --middle-black: #000000d7;
  --nav-red: #d41518;
  --white: #fff;
  --white-gray: #ffffff;
  --fade-gray: #808080;
  --aqua-green: #2ea4a4;
  --red-btn: #d41518;
  --fade-btn: #d41518db;
  --gray-text: #505050ef;
}

.black-stripe {
  justify-content: space-between;
  background-color: var(--strong-black);
  color: var(--white);
  font-size: 12px;
  padding: 0 150px;
  height: 35px;
}

.black-stripe-img {
  width: 20px;
  margin-right: 5px;
}

/* HERO */

.hero-main {
  background-image: url("../../Images/hero-main.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 70vh;
}

.hero-text {
  color: var(--middle-black);
  text-align: center;
  width: 100%;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.21);
  padding: 30px 0;
}

.hero-text h2 {
  margin-bottom: 20px;
}

.hero-main p {
  color: var(--white);
  margin-bottom: 20px;
}

.hero-btn {
  border: none;
  cursor: pointer;
  background-color: var(--red-btn);
  color: var(--white);
  padding: 8px 16px;
}

.hero-btn:hover {
  opacity: 0.8;
}

/* SECTION 2 */

.section-2 {
  text-align: center;
  margin: 0 auto;
  padding: 0 50px;
  margin-bottom: 100px;
}
.section-2-header {
  margin: 70px 0 35px 0;
}
.section-2-header h4 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}

.section-2-header p {
  color: var(--gray-text);
  font-size: 16px;
}

.gr-container-2 {
  justify-items: center;
  align-items: center;
  column-gap: 50px;
  row-gap: 50px;
}

.gr-container-2 div {
  padding: 10px;
  color: var(--gray-text);
}

/* SECTION 3 */
.section-3 {
  margin-bottom: 100px;
}

/* CAROUSEL IMG */

.section-3-header {
  text-align: center;
  margin: 70px 0 35px 0;
}

.section-3-header h4 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}

.section-3-header p {
  color: var(--gray-text);
  font-size: 16px;
}

.sec-3-carousel {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  align-items: center;
}

.sec-3-carousel-img {
  max-width: 350px;
}

.sec-3-carousel-btn-prev,
.sec-3-carousel-btn-next {
  background-color: transparent;
  border: none;
  color: #33333352;
  font-size: 28px;
  padding: 12px 16px;
  margin: 0 20px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.sec-3-carousel-btn-prev:hover,
.sec-3-carousel-btn-next:hover {
  color: #333;
}

/* SECTION 4 */

.section-4 {
  margin: 0 50px;
  margin-bottom: 100px;
}

.section-4-header {
  text-align: center;
  margin-bottom: 35px;
}
.section-4-header h4 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}

.section-4-header p {
  color: var(--gray-text);
  font-size: 16px;
}

.grid-sec-4 {
  justify-items: center;
  align-items: center;
  column-gap: 20px;
  row-gap: 20px;
}

.card img {
  cursor: pointer;
  transition: 0.3s ease-in-out;
  max-width: 250px;
}

.card img:hover {
  opacity: 0.8;
}

.card h6 {
  font-size: 14px;
  font-weight: 400;
  padding: 10px 0;
  cursor: pointer;
}

.card ul {
  color: var(--gray-text);
  font-size: 14px;
  font-weight: 300;
  padding: 0 0 20px 15px;
}

.card li {
  margin-bottom: 5px;
  cursor: pointer;
}

.card h6:hover,
.card li:hover {
  text-decoration: underline;
}

.section-4-btn {
  border: none;
  cursor: pointer;
  background-color: var(--red-btn);
  color: var(--white);
  padding: 8px 16px;
}

.section-4-btn:hover {
  opacity: 0.8;
}

/* PARALLAX */

.parallax {
  background-image: url("http://annimexweb.com/items/belle/assets/images/parallax-banners/home13-car-parts.jpg");
  height: 80vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-bottom: 100px;
}

.parallax-layer {
  height: 80vh;
  background-color: rgba(0, 0, 0, 0.3);
}

.inner-parallax {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  max-width: 600px;
  overflow: hidden;
  line-height: 1.3;
}

.inner-parallax h4 {
  color: var(--white-gray);
  font-weight: 400;
  font-size: 26px;
  margin-bottom: 20px;
}

.inner-parallax p {
  color: var(--white-gray);
  font-size: 18px;
  margin-bottom: 20px;
}

.parallax-btn {
  border: none;
  cursor: pointer;
  background-color: var(--red-btn);
  color: var(--white);
  padding: 8px 16px;
}

.parallax-btn:hover {
  opacity: 0.8;
}

/*  SECTION 5 */
.section-5 {
  margin-bottom: 80px;
  padding: 50px;
}

.sec-5-header {
  font-size: 22px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 35px;
}

.section-5-main {
  justify-content: space-evenly;
}

.sec-5-text-img {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.sec-5-text-img p {
  text-align: center;
  max-width: 350px;
  padding: 15px;
}

.sec-5-text-img span {
  font-weight: 700;
}

.sec-5-p-z {
  background-color: var(--white);
  z-index: 10;
}

.sec-5-btn {
  border: none;
  color: var(--white);
  background-color: var(--strong-black);
  padding: 8px 18px;
  bottom: 50px;
  cursor: pointer;
  visibility: hidden;
  transition: 0.2s ease-in-out;
  z-index: 5;
  width: 90%;
  cursor: pointer;
}

.sec-5-text-img:hover .sec-5-btn {
  visibility: visible;
  bottom: 85px;
  opacity: 0.8;
}

.sec-5-logos {
  flex-direction: column;
  gap: 5px;
  top: 30px;
  right: 0;
  opacity: 0;
  transition: 0.5s ease-in-out;
}

.sec-5-logos img {
  background-color: var(--strong-black);
  width: 35px;
  padding: 10px;
  cursor: pointer;
}

.sec-5-text-img:hover .sec-5-logos {
  top: 15px;
  opacity: 1;
}

.sec-5-logos img:hover,
.sec-5-btn:hover {
  background-color: var(--middle-black);
}

.sec-5-imgs {
  max-width: 250px;
  max-height: 250px;
  visibility: visible;
}

/* SECTION 6 */

.section-6 {
  margin: 70px 50px;
  text-align: center;
}

.section-6 h4 {
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  margin: 30px 0;
}

.sec-6-carousel {
  margin: 10px auto;
  justify-content: space-between;
  background-color: rgba(128, 128, 128, 0.057);
  padding: 80px 80px 150px 80px;
}

.sec-6-p {
  max-width: 800px;
  margin: 50px 0;
}

.sec-6-text-container span {
  font-weight: 700;
}

.sec-6-carousel-btn-prev,
.sec-6-carousel-btn-next {
  background-color: transparent;
  border: none;
  color: #33333352;
  font-size: 32px;
  border-radius: 50%;
  padding: 8px 16px;
  margin: 0 20px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.sec-6-carousel-btn-prev:hover,
.sec-6-carousel-btn-next:hover {
  color: #333;
}

.footer-img {
  margin-bottom: 75px;
}

/* MEDIAS */

@media (min-width: 320px) and (max-width: 480px) {
  .black-stripe {
    display: none;
  }

  .hero-text {
    backdrop-filter: blur(0px);
    background-color: transparent;
  }

  .hero-text h2 {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .hero-text p {
    font-size: 10px;
    margin-bottom: 10px;
  }

  .hero-btn {
    padding: 5px 10px;
    font-size: 10px;
  }

  .section-2-header h4 {
    font-size: 14px;
  }
  .section-2-header p {
    font-size: 12px;
  }

  .gr-container-2 {
    grid-template-columns: repeat(1, 1fr);
  }

  .sec-3-carousel-img-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .sec-3-carousel-img {
    width: 200px;
  }

  .sec-3-carousel-btn-prev,
  .sec-3-carousel-btn-next {
    padding: 12px 16px;
    margin: 0;
  }

  .grid-sec-4 {
    grid-template-columns: repeat(1, 1fr);
  }

  .section-4-btn {
    width: 100%;
  }

  .inner-parallax h4 {
    font-size: 16px;
  }

  .inner-parallax p {
    font-size: 12px;
  }

  .section-5-main {
    flex-wrap: wrap;
  }

  .sec-5-text-img img {
    width: 150px;
  }

  .sec-5-text-img {
    font-size: 12px;
  }

  .sec-5-logos img {
    width: 30px;
  }

  .sec-5-btn {
    bottom: 30px;
  }

  .sec-5-text-img:hover .sec-5-logos {
    top: 0px;
    opacity: 1;
  }

  .sec-5-text-img:hover .sec-5-btn {
    visibility: visible;
    bottom: 55px;
    opacity: 0.8;
  }

  .sec-5-text-img p {
    padding: 5px;
  }

  .section-6 {
    margin: 0px;
    margin-bottom: 50px;
  }

  .sec-6-carousel {
    padding: 50px 0;
  }

  .footer-img {
    flex-wrap: wrap;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .black-stripe {
    display: none;
  }

  .hero-text {
    backdrop-filter: blur(0px);
    background-color: transparent;
  }

  .hero-text h2 {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .hero-text p {
    font-size: 10px;
    margin-bottom: 10px;
  }

  .hero-btn {
    padding: 5px 10px;
    font-size: 10px;
  }

  .section-2-header h4 {
    font-size: 14px;
  }
  .section-2-header p {
    font-size: 12px;
  }

  .gr-container-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .sec-3-carousel-img-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .sec-3-carousel-img {
    width: 130px;
  }

  .sec-3-carousel-btn-prev,
  .sec-3-carousel-btn-next {
    padding: 12px 16px;
    margin: 0;
  }

  .grid-sec-4 {
    grid-template-columns: 1fr;
  }

  .section-4-btn {
    width: 100%;
  }

  .inner-parallax h4 {
    font-size: 20px;
  }

  .inner-parallax p {
    font-size: 14px;
  }

  .section-5-main {
    flex-wrap: wrap;
  }

  .sec-5-text-img img {
    width: 150px;
  }

  .sec-5-text-img {
    font-size: 12px;
  }

  .sec-5-logos img {
    width: 30px;
  }

  .sec-5-btn {
    bottom: 30px;
  }

  .sec-5-text-img:hover .sec-5-logos {
    top: 0;
    opacity: 1;
  }

  .sec-5-text-img:hover .sec-5-btn {
    visibility: visible;
    bottom: 55px;
    opacity: 0.8;
  }

  .sec-5-text-img p {
    padding: 5px;
  }

  .section-6 {
    margin: 0px;
    margin-bottom: 50px;
  }

  .sec-6-carousel {
    padding: 50px 0;
  }

  .footer-img {
    flex-wrap: wrap;
  }
}

@media (min-width: 769px) and (max-width: 990px) {
  .black-stripe {
    display: none;
  }

  .hero-text {
    backdrop-filter: blur(0px);
    background-color: transparent;
  }

  .hero-text h2 {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .hero-text p {
    font-size: 10px;
    margin-bottom: 10px;
  }

  .hero-btn {
    padding: 5px 10px;
    font-size: 10px;
  }

  .section-2-header h4 {
    font-size: 14px;
  }
  .section-2-header p {
    font-size: 12px;
  }

  .gr-container-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .sec-3-carousel-img-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .sec-3-carousel-img {
    width: 200px;
  }

  .sec-3-carousel-btn-prev,
  .sec-3-carousel-btn-next {
    padding: 12px 16px;
    margin: 0;
  }

  .grid-sec-4 {
    grid-template-columns: repeat(2, 1fr);
  }

  .section-4-btn {
    width: 100%;
  }

  .inner-parallax h4 {
    font-size: 20px;
  }

  .inner-parallax p {
    font-size: 14px;
  }

  .section-5-main {
    flex-wrap: wrap;
    justify-content: center;
  }

  .section-6 {
    margin: 0px;
    margin-bottom: 50px;
  }

  .sec-6-carousel {
    padding: 50px 0;
  }

  .footer-img {
    flex-wrap: wrap;
  }
}

@media (min-width: 991px) and (max-width: 1250px) {
  .black-stripe {
    padding: 0 50px;
  }

  .sec-3-carousel-img {
    width: 270px;
  }

  .grid-sec-4 {
    grid-template-columns: repeat(3, 1fr);
  }

  .inner-parallax h4 {
    font-size: 24px;
  }

  .inner-parallax p {
    font-size: 16px;
  }

  .section-5-main {
    flex-wrap: wrap;
    justify-content: center;
  }

  .section-6 {
    margin: 0px;
    margin-bottom: 50px;
  }

  .sec-6-carousel {
    padding: 50px 0;
  }

  .footer-img {
    flex-wrap: wrap;
  }
}
