:root {
  --strong-black: #000;
  --middle-black: #000000d7;
  --nav-red: #d41518;
  --white: #fff;
  --white-gray: #ffffff;
  --fade-gray: #808080;
  --aqua-green: #2ea4a4;
  --red-btn: #d41518;
  --fade-btn: #d41518db;
  --gray-text: #505050ef;
}

.cart-popup {
  top: 80px;
  right: 30px;
  color: var(--strong-black);
  background-color: #fff;
  border: 1px solid #80808030;
  width: 350px;
  padding: 20px;
  z-index: 99999;
}

.cart-popup-product {
  gap: 15px;
  margin-bottom: 20px;
}

.products-table {
  border-bottom: 1px solid var(--fade-gray);
  padding: 10px;
}

.cart-popup-img {
  width: 60px;
}

.cart-popup-text {
  width: 100%;
}

.cart-popup-header {
  font-size: 14px;
  font-weight: 500;
}
.cart-popup-item {
  font-size: 12px;
  color: var(--fade-gray);
}

.cart-popup-qty {
  font-size: 12px;
  gap: 15px;
}

.cart-minus,
.cart-plus {
  font-size: 16px;
  border: none;
  background-color: var(--fade-gray);
  cursor: pointer;
  padding: 0.5px 10px;
}

.cart-popup-price {
  font-weight: 500;
  font-size: 16px;
}

.cart-popup-total {
  justify-content: space-between;
  padding-bottom: 15px;
  border-bottom: 1px solid #80808030;
}

.empty-msg {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
}

.cart-popup-total h4,
.cart-popup-total p {
  font-size: 16px;
  font-weight: 400;
}

.cart-popup-btns {
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 20px;
}

.cart-popup-btn-1,
.cart-popup-btn-2 {
  border: none;
  cursor: pointer;
  background-color: var(--red-btn);
  color: var(--white);
  padding: 15px 38px;
  transition: 0.3s;
}

.cart-popup-btn-1:hover,
.cart-popup-btn-2:hover {
  opacity: 0.8;
}

.header-logos {
  justify-content: space-between;
}

.cart-action-logos {
  align-items: flex-start;
  gap: 10px;
  cursor: pointer;
}

.cart-logos {
  width: 18px;
}
