:root {
  --strong-black: #000;
  --middle-black: #000000d7;
  --nav-red: #d41518;
  --white: #fff;
  --white-gray: #ffffff;
  --fade-gray: #808080;
  --aqua-green: #2ea4a4;
  --red-btn: #d41518;
  --fade-btn: #d41518db;
  --gray-text: #505050ef;
}

.cart-popup {
  position: fixed;
  top: 80px;
  right: 30px;
  color: var(--strong-black);
  background-color: #fff;
  border: 1px solid #80808030;
  height: 300px;
  width: 400px;
  padding: 20px;
  z-index: 99999;
}

.cart-popup-product {
  gap: 15px;
  margin-bottom: 20px;
}

.cart-popup-img {
  width: 150px;
}

.cart-popup-text {
  width: 100%;
}

.cart-popup-header {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 5px;
}
.cart-popup-item {
  font-size: 12px;
  color: var(--fade-gray);
}

.cart-popup-qty {
  font-size: 16px;
  margin: 20px 0;
  gap: 15px;
}

.cart-minus,
.cart-plus {
  font-size: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.cart-popup-price {
  font-weight: 500;
  font-size: 18px;
}

.cart-popup-total {
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #80808030;
  border-top: 1px solid #80808030;
}

.cart-popup-total h4,
.cart-popup-total p {
  font-size: 18px;
  font-weight: 500;
}

.cart-popup-btns {
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 20px;
}

.cart-popup-btn-1,
.cart-popup-btn-2 {
  border: none;
  cursor: pointer;
  background-color: var(--red-btn);
  color: var(--white);
  padding: 14px 50px;
  transition: 0.3s;
}

.cart-popup-btn-1:hover,
.cart-popup-btn-2:hover {
  opacity: 0.8;
}

.header-logos {
  justify-content: space-between;
}

.cart-action-logos {
  align-items: flex-start;
  gap: 10px;
  cursor: pointer;
}

.cart-logos {
  width: 18px;
}
