:root {
  --strong-black: #000;
  --middle-black: #000000d7;
  --nav-red: #d41518;
  --white: #fff;
  --white-gray: #ffffff;
  --fade-gray: #808080;
  --aqua-green: #2ea4a4;
  --red-btn: #d41518;
  --fade-btn: #d41518db;
  --gray-text: #505050ef;
}

.footer-header {
  text-align: center;
  margin-bottom: 50px;
}

.footer-header h4 {
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 20px;
}

.form-container {
  justify-content: space-between;
  background-color: #8080800f;
  border-top: 1px solid #8080805a;
  height: 120px;
}

.footer-form label {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}

.footer-input {
  border: 1px solid var(--fade-gray);
  height: 35px;
  width: 400px;
}

.footer-btn {
  border: none;
  cursor: pointer;
  background-color: var(--strong-black);
  color: var(--white);
  padding: 10px 16px;
  transition: 0.3s;
}

.footer-btn:hover {
  opacity: 0.8;
}

#footer-span-1 {
  font-size: 12px;
}

.footer-img {
  gap: 50px;
}

.footer-form {
  margin-left: 80px;
}

.footer-socials {
  gap: 15px;
  margin-right: 80px;
}

.footer-socials img {
  width: 20px;
  cursor: pointer;
}

.footer-bottom-container {
  background-color: var(--strong-black);
}

.footer-bottom {
  justify-content: space-between;
  padding: 60px 50px;
  color: var(--white-gray);
  border-bottom: 1px solid var(--fade-gray);
  width: 1200px;
}

.ul-footer {
  list-style: none;
}

.li-header {
  font-weight: 500;
  margin-bottom: 15px;
  text-decoration: none;
}

.ul-footer li {
  margin-bottom: 10px;
  font-size: 12px;
  cursor: pointer;
}

.contact {
  align-self: flex-start;
}

.contact p {
  margin-bottom: 10px;
  font-size: 12px;
}

.ul-footer li:hover {
  text-decoration: underline;
}

.rights {
  font-size: 10px;
  color: var(--white-gray);
  background-color: var(--strong-black);
  padding: 30px 0px;
  text-align: center;
}

/* MEDIAS */

@media (min-width: 320px) and (max-width: 480px) {
  .form-container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .footer-form {
    margin-left: 0;
    padding: 0 5px;
  }

  #footer-span-1 {
    font-size: 5px;
  }

  #footer-span-2 {
    font-size: 10px;
  }

  .footer-btn {
    padding: 10px 10px;
  }

  .footer-bottom ul {
    display: none;
  }

  .footer-input {
    max-width: 110px;
  }

  .footer-bottom {
    display: block;
    text-align: center;
  }

  .footer-bottom h4 {
    border-bottom: 1px solid transparent;
    cursor: pointer;
  }

  .footer-bottom h4:hover {
    border-bottom: 1px solid var(--white-gray);
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .form-container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .footer-form {
    margin-left: 0;
    padding: 0 5px;
  }

  #footer-span-1 {
    font-size: 5px;
  }

  #footer-span-2 {
    font-size: 10px;
  }

  .footer-btn {
    padding: 10px 10px;
  }

  .footer-bottom ul {
    display: none;
  }

  .footer-input {
    max-width: 110px;
  }

  .footer-bottom {
    display: block;
    text-align: center;
  }

  .footer-bottom h4 {
    border-bottom: 1px solid transparent;
    cursor: pointer;
  }

  .footer-bottom h4:hover {
    border-bottom: 1px solid var(--white-gray);
  }
}

@media (min-width: 769px) and (max-width: 990px) {
  .form-container {
    justify-content: center;
  }

  .footer-input {
    max-width: 220px;
  }
}
