.prod-card img {
  width: 500px;
}

.product-page-container {
  flex-direction: column;
}

.prod-card {
  gap: 10px;
}

.prod-card h4 {
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 15px;
}

.prod-card p {
  font-size: 20px;
  margin-bottom: 10px;
}

.btn-product-page {
  border: none;
  cursor: pointer;
  background-color: var(--strong-black);
  color: var(--white);
  padding: 12px 24px;
  transition: 0.3s;
  margin-top: 10px;
}

.btn-product-page:hover {
  opacity: 0.8;
}
